.c-categories {
    
    &__item {
        margin-right: 24px;
        margin-top: 8px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            @include hover;
        }
    }
}