.p-about {
    @include section-padding-top;
    padding-bottom: 56px;

    &__profile {
        max-width: 424px;
        margin-left: 32px;
        @include mq('tab') {
            margin-left: 0;
            margin-top: 16px;
            max-width: 100%;
        }
    }

    &__detail {

        &__hello {
            font-size: 2.3rem;
            @include mq('sp') {
                font-size: 1.6rem;
            }
        }
        &__list {
            list-style: disc;
            margin-top: 8px;
            padding-left: 32px;
        }

        &__sentence {
            margin-top: 8px;
        }

        &__link {
            color: $color-font-dark;
        }
    }

    &__timeline {
        margin-top: 32px;
        text-align: center;

        &__header {
            border-bottom: 3px $color-border-main solid;
            display: inline-block;
        }
    }

    &__trigger {
        margin-top: 32px;
        text-align: center;

        &__header {
            border-bottom: 3px $color-border-main solid;
            display: inline-block;
        }
    }
}

.p-avator {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    @include mq('sp') {
        width: 100%;
        height: auto;
    }
}

.p-timeline {
    margin-top: 24px;
    text-align: left;
    @include mq('sp') {
        margin-top: 0;
    }
    
    &__list {
        position: relative;
        overflow: hidden;
    }

    &__date {
        width: 110px;
        @include mq('tab') {
            width: 88px;
        }
        float: left;
        padding-top: 16px;
        @include mq('sp') {
            padding-top: 24px;
        }
    }

    &__content {
        width: 85%;
        float: left;
        border-left: 3px $color-border-main solid;
        padding-left: 32px;
        padding-top: 16px;
        @include mq('tab') {
            width: 82%;
            padding-left: 16px;
        }
        @include mq('sp') {
            border-left: none;
            padding-top: 8px;
            width: 100%;
        }

        &::before {
            content: '';
            width: 12px;
            height: 12px;
            background: $color-accent;
            position: absolute;
            left: 106px;
            top: 24px;
            border-radius: 100%;
            @include mq('tab') {
                left: 83px;
            }
            @include mq('sp') {
                display: none;
            }
        }

        &__detail {
            margin-top: 8px;
        }
    }
}

.p-trigger {
    margin-top: 24px;
    text-align: left;

    &__detail {
        margin-top: 8px;
    }
}