.p-footer {
    position: relative;

    &__wrapper {
        @include mq('tab') {
            padding-bottom: 40px;
        }
    }

    &__nav {
        border-top: 1px solid $color-dark;
        width: 100%;
        bottom: 0;
        position: fixed;
        background-color: $color-light;
    }
}

.p-nav {
    width: 320px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    @include mq('tab') {
        display: none;
    }
    
    &__item {
        &:hover {
            @include hover;
        }
    }
}

.p-fnav {
    display: none;

    &__items {
        justify-content: center;
    }

    &__item {
        margin-right: 16px;
        line-height: 40px;

        &:last-of-type {
            margin-right: 0;
        }
        &__link {
            text-decoration: none;

        }
    }

    @include mq('tab') {
        display: block;
        color: $color-dark;

    }

}